
html { box-sizing:border-box;}

body {
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	min-width: 1200px;
}

a {
	text-decoration: none;
}

img { max-width: 100% ;}

*, *::before, *::after { box-sizing: inherit; }

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	width: 1200px;
}
.button,
.main-header {
	font-weight: 500;
}
/* Start Header*/
.main-header {
	background-color: #eeeeee;
}
.main-header-logo{
	line-height: 0;
	margin-top: 50px;
}

.main-header-logo:hover img,
.main-header-logo:focus img {
	opacity: 0.8;
}

.main-header-logo:active img {
	opacity: 0.3;
}

.main-navigation {
	display: flex;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin-top: 75px;
	padding: 0;

}
.main-basket {
	display: flex;
	justify-content: center;
	margin-top: 75px;
	padding: 0;

}
.site-navigation:first-of-type
{
	justify-content: space-between;
	margin-left: 200px;
	width: 440px;
}
.main-basket:last-of-type
{
	justify-content: flex-end;
	margin-left: auto;
	position: relative;
}
.main-basket li {
	list-style: none;
}
.main-basket:last-of-type li::before {
   position: absolute;
  content: "";
  top: 7px;
 left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-basket:last-of-type a{
width: 115px;
  text-align: right
}
.site-navigation a,
.main-basket a {
	color:#000000;
	display: inline-block;
	vertical-align: middle;
	height: 35px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-basket a:hover,
.main-basket a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.main-basket a:active {
	color:#a6a6a6;
}

.current {
	border-bottom: 2px solid #fb565a; 
}

.title-container {
	color: #000000;
	margin-bottom: 45px;
	padding: 77px 0 105px;
}
.header-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;

}

/* End Header*/

/* Start Slider */
.main-slider {
	display: none;
}

.slider-indicators {
	list-style: none;
}

.slider-item h2 {

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.slider-btn {
	width: 240px;
	height: 50px;
	color: #ffffff;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px; 
	font-weight: 500;
	padding-top: 18px;
	padding-bottom: 19px;
	padding-left: 54px;
	padding-right: 54px;
	border-radius: 3px;
}

.slider-item a:hover,
.slider-item a:focus {
	color: #ffffff;
	background-color: #e74246;
}

.slider-item a:active {
	color: #e37376;
	background-color: #d7373b;
}
/* End Slider */

/* Start Services */

.services {
margin-top: 80px;
margin-bottom: 40px; 
background-color: #ffffff;
}
.services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	margin-bottom: 40px;
}

.service-list {
	border-bottom: 2px solid #eeeeee;
}
.services-item
{
	margin-right: 60px;
	padding: 0 20px;
}
.services-picture {
	margin-bottom: 22px;
}
.services-title {
	font-size: 24px;
	line-height: 30px; 
	font-weight: 700;
	text-transform: uppercase;
	width: 300px;
	margin: 0 0 19px;
}

.services-text {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin: 0 0 31px;
	width: 250px;
}

.btn-services {
	font-size: 16px;
	line-height: 18px; 
	font-weight: 500;
	width: 160px;
	padding: 16px 40px; 
	border-radius: 3px;
	margin: 0;
	display: inline-block;
	margin-bottom: 80px; 

}

.red {
	color:#ffffff;
	background-color: #fb565a;
}

a.red:hover,
a.red:focus {
	color: #ffffff;
	background-color: #e74246;
}

a.red:active {
	color: #e37376;
	background-color: #d7373b;
}

.green {
	color: #ffffff;
	background-color: #00ca74;
}

a.green:hover,
a.green:focus {
	color: #ffffff;
	background-color: #00bc6c;
}

a.green:active {
	color: #4dc491;
	background-color: #00aa62;
}

.orange {
	color:#ffffff;
	background-color: #efc84a;
}

a.orange:hover,
a.orange:focus {
	color: #ffffff;
	background-color: #eab534;
}

a.orange:active {
	color: #edc265;
	background-color: #e5a722;
}
/* End Services */

/* Start Catalog */
.sidebar {
	display: flex;
	justify-content: space-between;
}

.filter {
	width: 260px;
	padding-top: 13px;
}
.main-catalog {
	width: 760px;
	margin-bottom: 12px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 20px;
	list-style: none;
}
.catalog-item {
	border-radius: 4px;
	border-top: 40px solid #e9e9e9;
	margin-bottom: 33px;
	position: relative;

}
.catalog-item::before {
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
	content: "";
	height: 40px;
	left: 0;
	opacity: 0.12;
	position: absolute;
	top: -39px;
	width: 360px;
}
.catalog-item:hover::before,
.catalog-item:focus::before {
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
	opacity: 1;
}
.catalog-info {
	background-color: #eee;
	bottom: 0;
	display: none;
	left: 0;
	max-height: 576px;
	min-height: 231px;
	overflow: auto;
	padding-bottom: 43px;
	padding-top: 9px;
	position: absolute;
	text-align: center;
	width: 360px;
}
.catalog-item:hover .catalog-info,
.catalog-item:focus .catalog-info {
	display: block;
	min-height: 231px;
}

.catalog-info h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform:uppercase;
}

.catalog-title {
	color: #000000;
}

a.catalog-title:hover,
a.catalog-title:focus {
	color: #fb565a;
}

a.catalog-title:active {
	color: #c9c9c9;
}

.catalog-info p {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}

.button {
	font-size: 16px;
    line-height: 18px;
    color: #fff;
    background-color: #fb565a;
    border: none;
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
}
.button-filter {
	padding: 16px 89px;
}
.button-gray {
	background-color: #eeeeee;
    color: #000000;
}
.button-gray:focus,
.button-gray:hover {
  background-color: #dfdfdf 
}
.button-gray:active{
	color: #959595;
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 #bfbfbf;
}

.filter fieldset {
	border:none;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
	line-height: 20px;
}

.filter-radio {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.features-list fieldset {
	border: none;
}
.features-list legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.filter-checkbox {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.filter-checkbox:hover,
.filter-checkbox:focus  {
	color: #4d4d4d;
}

.filter-checkbox:disabled {
	color: #ededed;
	opacity: 0.3;
}
.pagination {
	display: flex;
	height: 50px;
	list-style: none;
	margin-bottom: 45px;
	padding-left: 20px;
	width: 740px;
}

.page-buttons-next,
.page-buttons-previous
{
	padding: 16px 78px;
}
.page-buttons-previous {
	display: none;
}
.page-buttons-number {
	background-color: #eeeeee;
	padding: 16px 20px;
}
.page-buttons-number-current,
.page-buttons-number-current:active,
.page-buttons-number-current:focus,
.page-buttons-number-current:hover {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
  color: #000;
  cursor: default
}
.page-buttons-next,
.page-buttons-number,
.page-buttons-previous
{
	margin-right: 12px;
}
.page-buttons-next
{
	background-color: #eeeeee;
	text-transform: uppercase;
}
/* End Catalog */

/* Start Footer */

.main-footer {
	display: flex;
	margin-bottom: 70px;
	padding-left: 20px;
	
}

.main-footer ul {
	
	display: flex;
	flex-wrap: wrap;
	justify-content:left;
	list-style: none;
	margin: 0;
	padding:0;
	width: 300px;
	margin: -10px;
}
.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e1e1e1;
	border-radius: 50%;
	height: 78px;
	width: 78px;
	margin: 10px;

}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}
.social-button:active {
	background-color: #d7373b;
}
.social-button:active svg {
opacity: 0.3;
}

.discount
{
	margin-left: 140px;
}
.discount b
{
	color: #000000;
	display: block;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	margin: 6px 0 10px;
}
.discount p
{
	color: #444444;
	line-height: 22px;
	margin: 0;
}

/* End Footer */



.modal {
	display: none;
}